@import url(reset.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.header h1{
    font-family: MaruBuri;
    font-size: 45px;
    font-weight: 400;
    color: #1d1d1d;
}