@import url(reset.css);
@import url(fonts.css);
@import url(common.css);

/*************************hearder 시작***************************/
.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(16px, 8.5vw, 85px);
    left: 0;
    top: 0;
    z-index: 100; /* 맨위 */
    width: 100%;
    height: clamp(56px, 9vw, 90px);
    color: #fff;
}
.header .logo a{
    display: block;
    width: clamp(100px, 14vw, 146px);
    height: clamp(18px, 2.7vw, 27px);
    background: url(../images/common/logo_w.svg) no-repeat center center / contain ;
}

/* .header.fixed{
    background-color: #fff;
    color: var(--color-main);
    fill: var(--color-main);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}
.header.fixed .logo a{
    background-image: url(../images/common/logo.svg);
} */

.header .depth1{
    display: flex;
    justify-content: space-between;
    gap: 0 48px;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 28px;
}
.header .util{
    display: flex;
    justify-content: flex-end;
    gap: 0 10px;
}
.header .lang{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.87624 17.7525C6.39545 17.7525 4.29587 16.8933 2.57752 15.175C0.859175 13.4566 0 11.357 0 8.87624C0 6.39545 0.859175 4.29587 2.57752 2.57752C4.29587 0.859175 6.39545 0 8.87624 0C11.357 0 13.4566 0.859175 15.175 2.57752C16.8933 4.29587 17.7525 6.39545 17.7525 8.87624C17.7525 9.87767 17.5932 10.8222 17.2745 11.7098C16.9559 12.5974 16.5235 13.3826 15.9772 14.0654L23.6245 21.7127C23.8748 21.963 24 22.2816 24 22.6686C24 23.0555 23.8748 23.3741 23.6245 23.6245C23.3741 23.8748 23.0555 24 22.6686 24C22.2816 24 21.963 23.8748 21.7127 23.6245L14.0654 15.9772C13.3826 16.5235 12.5974 16.9559 11.7098 17.2745C10.8222 17.5932 9.87767 17.7525 8.87624 17.7525ZM8.87624 15.0213C10.5832 15.0213 12.0341 14.4239 13.229 13.229C14.4239 12.0341 15.0213 10.5832 15.0213 8.87624C15.0213 7.16927 14.4239 5.71835 13.229 4.52347C12.0341 3.32859 10.5832 2.73115 8.87624 2.73115C7.16927 2.73115 5.71835 3.32859 4.52347 4.52347C3.32859 5.71835 2.73115 7.16927 2.73115 8.87624C2.73115 10.5832 3.32859 12.0341 4.52347 13.229C5.71835 14.4239 7.16927 15.0213 8.87624 15.0213Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.header .search{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.6C12.36 21.6 12.705 21.58 13.035 21.54C13.365 21.5 13.7 21.44 14.04 21.36L12.6 19.2H8.4V18C8.4 17.34 8.635 16.775 9.105 16.305C9.575 15.835 10.14 15.6 10.8 15.6H13.2V12H10.8C10.46 12 10.175 11.885 9.945 11.655C9.715 11.425 9.6 11.14 9.6 10.8V8.4H9.06C8.54 8.4 8.1 8.225 7.74 7.875C7.38 7.525 7.2 7.09 7.2 6.57C7.2 6.39 7.225 6.21 7.275 6.03C7.325 5.85 7.4 5.68 7.5 5.52L9.36 2.79C7.34 3.37 5.675 4.5 4.365 6.18C3.055 7.86 2.4 9.8 2.4 12H3.6V10.8C3.6 10.46 3.715 10.175 3.945 9.945C4.175 9.715 4.46 9.6 4.8 9.6H7.2C7.54 9.6 7.825 9.715 8.055 9.945C8.285 10.175 8.4 10.46 8.4 10.8V12C8.4 12.34 8.285 12.625 8.055 12.855C7.825 13.085 7.54 13.2 7.2 13.2V14.4C7.2 15.06 6.965 15.625 6.495 16.095C6.025 16.565 5.46 16.8 4.8 16.8H3.69C4.53 18.24 5.68 19.4 7.14 20.28C8.6 21.16 10.22 21.6 12 21.6ZM21.12 14.94C21.28 14.48 21.4 14.005 21.48 13.515C21.56 13.025 21.6 12.52 21.6 12C21.6 9.76 20.92 7.785 19.56 6.075C18.2 4.365 16.48 3.24 14.4 2.7V6C15.06 6 15.625 6.235 16.095 6.705C16.565 7.175 16.8 7.74 16.8 8.4V10.8C17.18 10.8 17.52 10.845 17.82 10.935C18.12 11.025 18.41 11.21 18.69 11.49L21.12 14.94ZM12 24C10.34 24 8.78 23.685 7.32 23.055C5.86 22.425 4.59 21.57 3.51 20.49C2.43 19.41 1.575 18.14 0.945 16.68C0.315 15.22 0 13.66 0 12C0 10.34 0.315 8.78 0.945 7.32C1.575 5.86 2.43 4.59 3.51 3.51C4.59 2.43 5.86 1.575 7.32 0.945C8.78 0.315 10.34 0 12 0C13.66 0 15.22 0.315 16.68 0.945C18.14 1.575 19.41 2.43 20.49 3.51C21.57 4.59 22.425 5.86 23.055 7.32C23.685 8.78 24 10.34 24 12C24 13.66 23.685 15.22 23.055 16.68C22.425 18.14 21.57 19.41 20.49 20.49C19.41 21.57 18.14 22.425 16.68 23.055C15.22 23.685 13.66 24 12 24Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width:769px){
            .header .gnb_open{
                display: block;
                width: 23px;
                height: 18px;
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.27778 2.57143C0.915741 2.57143 0.612269 2.44821 0.367361 2.20179C0.122454 1.95536 0 1.65 0 1.28571C0 0.921429 0.122454 0.616071 0.367361 0.369643C0.612269 0.123214 0.915741 0 1.27778 0H21.7222C22.0843 0 22.3877 0.123214 22.6326 0.369643C22.8775 0.616071 23 0.921429 23 1.28571C23 1.65 22.8775 1.95536 22.6326 2.20179C22.3877 2.44821 22.0843 2.57143 21.7222 2.57143H1.27778ZM1.27778 18C0.915741 18 0.612269 17.8768 0.367361 17.6304C0.122454 17.3839 0 17.0786 0 16.7143C0 16.35 0.122454 16.0446 0.367361 15.7982C0.612269 15.5518 0.915741 15.4286 1.27778 15.4286H21.7222C22.0843 15.4286 22.3877 15.5518 22.6326 15.7982C22.8775 16.0446 23 16.35 23 16.7143C23 17.0786 22.8775 17.3839 22.6326 17.6304C22.3877 17.8768 22.0843 18 21.7222 18H1.27778ZM1.27778 10.2857C0.915741 10.2857 0.612269 10.1625 0.367361 9.91607C0.122454 9.66964 0 9.36429 0 9C0 8.63571 0.122454 8.33036 0.367361 8.08393C0.612269 7.8375 0.915741 7.71429 1.27778 7.71429H21.7222C22.0843 7.71429 22.3877 7.8375 22.6326 8.08393C22.8775 8.33036 23 8.63571 23 9C23 9.36429 22.8775 9.66964 22.6326 9.91607C22.3877 10.1625 22.0843 10.2857 21.7222 10.2857H1.27778Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            .header .depth1{
                display: none;
            }
            .header .util{
                display: none;
            }
            .header .lang,
            .header .search{
                display: none;
            }
}
/*************************visual 시작***************************/
.visual{
    position: relative;
}
.visual .swiper-slide{
    height: 100dvh; /* 브라우저의 높이 */
    min-height: 500px;
    background: url(../images/main/visual_bg1.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visual .swiper-slide.pop2{
    background-image: url(../images/main/visual_bg2.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/main/visual_bg3.jpg);
}
.visual .swiper-slide.pop1 .wrapper{
    width: clamp(328px, 126vw, 1260px);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.visual .swiper-slide.pop1 strong{
    display: block;
    font-family: 'MaruBuri';
    font-size: clamp(32px, 8vw, 80px);
    font-weight: 400;
    line-height: 1.3;
}
.visual .swiper-slide.pop1 h2{
    text-align: center;
    font-family: 'Suit';
    font-size: clamp(16px, 2.4vw, 24px);
    font-weight: 400;
    line-height: 1.5;
    padding-right: 132px;
}
.visual .swiper-slide.pop2 strong,
.visual .swiper-slide.pop3 strong{
    display: block;      /* 줄바꿈 적용을 위해 block */
    text-align: center;  /* 텍스트 자체 중앙 정렬 */
    font-family: 'MaruBuri';
    font-size: clamp(32px, 8vw, 80px);
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    align-items: center;
}
.visual .swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: 0.5; /* 평소에는 살짝 투명하게 */
}

.visual .swiper-pagination-bullet-active {
    background-color: #fff !important;
    opacity: 1; /* 현재 페이지는 선명하게 */
}

@media screen and (max-width:769px){
    .visual .swiper-slide{
        height: 500px;
    }
    .visual .swiper-slide.pop1 h2{
        text-align: right;
        font-family: 'Suit';
        font-size: clamp(16px, 2.4vw, 24px);
        font-weight: 400;
        line-height: 1.5;
        padding-right: 16px;
    }
}
/*** header fiex 해야함 ***/
/*************************brand 시작***************************/

.brand{
    height: 455px; /* 600px -145px 높이에서 패딩값을 뺌. 안그러면 둘다 합친값으로 높이가 늘어남 */
    background-color: #F0E7C8;
    padding-top: 145px;
    background-image: url(../images/main/hand_bg.png);
    background-position: center right 20%;
    background-repeat: no-repeat;
    background-size: auto;
}
.brand .wrapper strong{
    font-size: clamp(16px, 1.7vw, 17px);
    font-weight: 800;
    color: var(--color-point);
}
.brand .wrapper h2{
    font-family: 'MaruBuri';
    color: var(--font-main-color);
    font-size: clamp(24px,4.5vw,45px);
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 20px 0;
}
.brand .more{
    margin: 72px 0 0 0;
    display: flex;
    justify-content: flex-start;
}
.brand .more a{
    display: block;
    position: relative;
    color: var(--color-point);
    border: 1px solid var(--color-point);
    border-radius: 50px;
    padding: 10px 41px 10px 23px;
}
.brand .more a::after{
    content: ""; /* 아이콘 배치 */
    position: absolute;
    right: 20px;
    top: 15px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8H1C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H6V1C6 0.716667 6.09583 0.479167 6.2875 0.2875C6.47917 0.0958333 6.71667 0 7 0C7.28333 0 7.52083 0.0958333 7.7125 0.2875C7.90417 0.479167 8 0.716667 8 1V6H13C13.2833 6 13.5208 6.09583 13.7125 6.2875C13.9042 6.47917 14 6.71667 14 7C14 7.28333 13.9042 7.52083 13.7125 7.7125C13.5208 7.90417 13.2833 8 13 8H8V13C8 13.2833 7.90417 13.5208 7.7125 13.7125C7.52083 13.9042 7.28333 14 7 14C6.71667 14 6.47917 13.9042 6.2875 13.7125C6.09583 13.5208 6 13.2833 6 13V8Z' fill='%23B32000'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width:769px){
        .brand{
            height: 683px; /* 750px - 67px 높이에서 패딩값을 뺌. 안그러면 둘다 합친값으로 높이가 늘어남 */
            padding-top: 67px;
            text-align: center;
            background-image: url(../images/main/hand_bg_mo.png);
            background-position: center 40%;
            background-repeat: no-repeat;
            background-size: auto;
        }
        .brand .wrapper strong{
            margin: 67px 0 0 0;
        }
        .brand .wrapper h2{
            margin: 2px 0 0 0;
        }
        .brand .wrapper p{
            margin: 325px 0 0 0;
        }
        .brand .more{
            margin: 69px 0 0 0;
            justify-content: center;
        }
        .brand .more a{
            padding: 10px 43px 10px 23px;
        }
        
}/*//@media*/@media screen and (max-width:426px){
        .brand .wrapper p{
            margin: 300px 0 0 0;
        }
        .brand .more{
            margin: 40px 0 0 0;
        }
}/*//@media*/

/************************* signature 시작 ***************************/
.signature{
    margin-top: clamp(69px,19vw,198px);
    text-align: center;
}
.signature .list{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.signature .tit strong{
    font-weight: 800;
    line-height: 1.5;
    color: var(--color-point);
}
.signature .tit h2{
    font-family: 'MaruBuri';
    font-size: clamp(24px,4.5vw,45px);
    color: var(--font-main-color);
}
.signature .tit p{
    margin-bottom: clamp(29px, 13vw, 135px);
}
.signature .photo{
    width: clamp(245px,30vw,303px);
    gap: 0 clamp(16px,2.4vw,24px);
}
.signature h3{
    font-size: clamp(16px, 2vw, 20px);
    color: var(--color-main);
}
.signature .prev{
    position: absolute;
    left: -23px;
    top: 50%;
    fill: #666;
}
.signature .next{
    position: absolute;
    right: -23px;
    top: 50%;
    fill: #666;
}
@media screen and (max-width:769px){
        /* 확인 후 이미지 1개 정중앙 양옆은 짤리게, < & > 는 안나오게 */
}

/*** 시그니처 반응형 모바일 해야함 ***/
/*************************** moment 시작 ***************************/
.moment{
    margin-top: 198px;
    height: 1400px;
    background-color: var(--color-bg);
}
.moment .tit{
    padding-top: 200px;
}
.moment .tit strong{
    font-size: clamp(16px,1.7vw,17px);
    margin-top: 200px;
    font-weight: 800;
    line-height: 1.5;
    color: var(--color-point);
}
.moment .tit h2{
    font-family: 'MaruBuri';
    font-size: clamp(24px,4.5vw,45px);
    color: var(--font-main-color);
}

.moment .signature .list{
    display: flex;
    justify-content: space-between;
}
.moment .more{
    margin-top: -80%;
    display: flex;
    justify-content: flex-end;
}
.moment .more a{
    display: block;
    position: relative;
    color: var(--color-point);
    border: 1px solid var(--color-point);
    border-radius: 50px;
    padding: 10px 41px 10px 23px;
}
.moment .more a::after{
    content: ""; /* 아이콘 배치 */
    position: absolute;
    right: 20px;
    top: 15px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8H1C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H6V1C6 0.716667 6.09583 0.479167 6.2875 0.2875C6.47917 0.0958333 6.71667 0 7 0C7.28333 0 7.52083 0.0958333 7.7125 0.2875C7.90417 0.479167 8 0.716667 8 1V6H13C13.2833 6 13.5208 6.09583 13.7125 6.2875C13.9042 6.47917 14 6.71667 14 7C14 7.28333 13.9042 7.52083 13.7125 7.7125C13.5208 7.90417 13.2833 8 13 8H8V13C8 13.2833 7.90417 13.5208 7.7125 13.7125C7.52083 13.9042 7.28333 14 7 14C6.71667 14 6.47917 13.9042 6.2875 13.7125C6.09583 13.5208 6 13.2833 6 13V8Z' fill='%23B32000'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.moment .list{
    margin-top: clamp(29px,8.3vw,83px);
}
.moment .list ul{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(16px,2.4vw,24px);
}
.moment .list ul li{
    width: calc(33.33% - 16px);
}
.moment .list ul li a{
    display: block;
    position: relative; /*h3를 올리기 위한 기준*/
}
.moment .list ul li a .photo{
    overflow: hidden;
}
.moment .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.moment .list ul li a h3{
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(77, 14, 0, 0), rgba(77, 14, 0, 1));
    flex-direction: column;
    justify-content: flex-end;
}
.moment .list ul li a:hover h3{
    display: flex;
}
.moment .list ul li a span{
    position: relative;
    color: #fff;
    font-size: clamp(17px, 2.4vw, 24px);
    font-weight: 800;
    line-height: 1.3;
    margin: 0 8% 8% 8%;
    padding-right: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.moment .list ul li a span::after{
    content: "";
    position: absolute;
    right: 2%;
    bottom: 22%;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6143 4.05567V13.1213C12.6143 13.4592 12.7286 13.7425 12.9573 13.9712C13.1859 14.1998 13.4692 14.3141 13.8072 14.3141C14.1451 14.3141 14.4284 14.1998 14.6571 13.9712C14.8857 13.7425 15 13.4592 15 13.1213V1.19284C15 0.854871 14.8857 0.571571 14.6571 0.342942C14.4284 0.114314 14.1451 0 13.8072 0H1.87873C1.54076 0 1.25745 0.114314 1.02883 0.342942C0.800198 0.571571 0.685884 0.854871 0.685884 1.19284C0.685884 1.53082 0.800198 1.81412 1.02883 2.04274C1.25745 2.27137 1.54076 2.38569 1.87873 2.38569H10.9443L0.328032 13.002C0.109344 13.2207 0 13.499 0 13.837C0 14.175 0.109344 14.4533 0.328032 14.672C0.54672 14.8907 0.825049 15 1.16302 15C1.50099 15 1.77932 14.8907 1.99801 14.672L12.6143 4.05567Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:769px){
        .moment{
            margin-top: 67px;
            height: 794px;
            background-color: var(--color-bg);
            text-align: center;
        }
        .moment .tit{
            padding-top: 71px;
        }
        .moment .list ul li{
            width: calc(50% - 16px);
        }
        .moment .list ul li a .photo img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
        }
        
        .moment .more{ /*안내려감 내려야함*/
            margin-bottom: -57%;
            display: flex;
            justify-content: center;
        }
        .moment .more a{
            padding: 10px 43px 10px 23px;
        }
        
}
/************* footer  **************/
.footer{
    margin: 0 0 300px 0;
}