@import url(pretendard.css);
/************** Start : 태그 초기화 **************/
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none; /*밑줄삭제*/
}
ul,ol,li{
    list-style: none; /*앞에 도형 제거*/
}
/************** End : 태그 초기화 **************/
/************** Start : 기본 스타일 **************/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/************** End : 기본스타일 **************/
.global h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 120px 0 25px 0; /**위 왼쪽 아래 오른쪽**/
}
.global h3{
    color: #00b900;
    margin: 0 0 17px 0;
}
.global p{
    margin: 0 0 17px 0;
}
.global .tit a{
    display: inline-block; /**a는 보자마자 블럭주기. -> 어라 ? 너무 크다 인라인 블럭**/
    color: #00b900;
    border: 1px solid #00b900; /** 1픽셀,  선, 흰색**/
    padding: 5px 34px
}
.global .photo{
    margin: 42px 0 0 0;
}
/**위에 자세히보기까지 끝**/
.market{
    background: url(../images/line_market01.jpg) no-repeat center center / cover;
    text-align: center;
    color: #fff;
    height: 641px;
}
.market h2{
    padding: 129px 0 0 0;
    text-align: center;
    color: #fff;
}
.market p{
    text-align: center;
    color: #fff;
}
.market a{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff; /** 1픽셀,  선, 흰색**/
    padding: 10px 13px;
}

body{
    margin: 0 0 150px 0;
}
