/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "SUIT", sans-serif;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    color: var(--font-color-default);
    line-height: var(--line-height-default);/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word;/* 단어가 제한된 넓이보다 길면 강제 줄바꿈 */
}
.wrapper{
    width: var(--wrapper-w);
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;
}
@media screen and (max-width:1500px){ /* 1440 + 30px + 30px */
    .wrapper{
        width: auto;
        margin: 0 var(--wrapper-margin);
    }
}


/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:root{
    --wrapper-margin: 30px;
    --wrapper-w: 1440px;
    --font-color-default: #1D0C04;
    --font-color-tit: #1D0C04;
    --font-color-txt: #1D0C04;
    --font-color-gray: #ccc;
    --color-main: #ED6325;
    --color-sub: #0375E5;
    --color-bg: #2B2B2B;
    --color-white: #fff;
    --color-w80:rgba(255, 255, 255, 0.8);   
    --color-w20:rgba(255, 255, 255, 0.2);
    --font-weight-default: 400;
    --font-weight-bold: 800;
    --font-weight-tit: 800;
    --line-height-default: 1.5;
    --line-height-tit: 1.3;
    --font-family-tit: "SUITE";
    --header-h: 100px;
    --font-size-default: 17px;
    --font-size-tit: 40px;
    --font-size-subtit: 24px;
    --icon-login-w: "data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.79219 8.95781C5.76406 7.92969 5.25 6.69375 5.25 5.25C5.25 3.80625 5.76406 2.57031 6.79219 1.54219C7.82031 0.514063 9.05625 0 10.5 0C11.9438 0 13.1797 0.514063 14.2078 1.54219C15.2359 2.57031 15.75 3.80625 15.75 5.25C15.75 6.69375 15.2359 7.92969 14.2078 8.95781C13.1797 9.98594 11.9438 10.5 10.5 10.5C9.05625 10.5 7.82031 9.98594 6.79219 8.95781ZM0 21V17.325C0 16.5812 0.191406 15.8977 0.574219 15.2742C0.957031 14.6508 1.46563 14.175 2.1 13.8469C3.45625 13.1688 4.83437 12.6602 6.23438 12.3211C7.63438 11.982 9.05625 11.8125 10.5 11.8125C11.9438 11.8125 13.3656 11.982 14.7656 12.3211C16.1656 12.6602 17.5438 13.1688 18.9 13.8469C19.5344 14.175 20.043 14.6508 20.4258 15.2742C20.8086 15.8977 21 16.5812 21 17.325V21H0ZM2.625 18.375H18.375V17.325C18.375 17.0844 18.3148 16.8656 18.1945 16.6687C18.0742 16.4719 17.9156 16.3188 17.7188 16.2094C16.5375 15.6188 15.3453 15.1758 14.1422 14.8805C12.9391 14.5852 11.725 14.4375 10.5 14.4375C9.275 14.4375 8.06094 14.5852 6.85781 14.8805C5.65469 15.1758 4.4625 15.6188 3.28125 16.2094C3.08437 16.3188 2.92578 16.4719 2.80547 16.6687C2.68516 16.8656 2.625 17.0844 2.625 17.325V18.375ZM12.3539 7.10391C12.868 6.58984 13.125 5.97188 13.125 5.25C13.125 4.52812 12.868 3.91016 12.3539 3.39609C11.8398 2.88203 11.2219 2.625 10.5 2.625C9.77812 2.625 9.16016 2.88203 8.64609 3.39609C8.13203 3.91016 7.875 4.52812 7.875 5.25C7.875 5.97188 8.13203 6.58984 8.64609 7.10391C9.16016 7.61797 9.77812 7.875 10.5 7.875C11.2219 7.875 11.8398 7.61797 12.3539 7.10391Z' fill='white'/%3E%3C/svg%3E%0A";
    --icon-login: "data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.79219 8.95781C5.76406 7.92969 5.25 6.69375 5.25 5.25C5.25 3.80625 5.76406 2.57031 6.79219 1.54219C7.82031 0.514063 9.05625 0 10.5 0C11.9438 0 13.1797 0.514063 14.2078 1.54219C15.2359 2.57031 15.75 3.80625 15.75 5.25C15.75 6.69375 15.2359 7.92969 14.2078 8.95781C13.1797 9.98594 11.9438 10.5 10.5 10.5C9.05625 10.5 7.82031 9.98594 6.79219 8.95781ZM0 21V17.325C0 16.5812 0.191406 15.8977 0.574219 15.2742C0.957031 14.6508 1.46563 14.175 2.1 13.8469C3.45625 13.1688 4.83437 12.6602 6.23438 12.3211C7.63438 11.982 9.05625 11.8125 10.5 11.8125C11.9438 11.8125 13.3656 11.982 14.7656 12.3211C16.1656 12.6602 17.5438 13.1688 18.9 13.8469C19.5344 14.175 20.043 14.6508 20.4258 15.2742C20.8086 15.8977 21 16.5812 21 17.325V21H0ZM2.625 18.375H18.375V17.325C18.375 17.0844 18.3148 16.8656 18.1945 16.6687C18.0742 16.4719 17.9156 16.3188 17.7188 16.2094C16.5375 15.6188 15.3453 15.1758 14.1422 14.8805C12.9391 14.5852 11.725 14.4375 10.5 14.4375C9.275 14.4375 8.06094 14.5852 6.85781 14.8805C5.65469 15.1758 4.4625 15.6188 3.28125 16.2094C3.08437 16.3188 2.92578 16.4719 2.80547 16.6687C2.68516 16.8656 2.625 17.0844 2.625 17.325V18.375ZM12.3539 7.10391C12.868 6.58984 13.125 5.97188 13.125 5.25C13.125 4.52812 12.868 3.91016 12.3539 3.39609C11.8398 2.88203 11.2219 2.625 10.5 2.625C9.77812 2.625 9.16016 2.88203 8.64609 3.39609C8.13203 3.91016 7.875 4.52812 7.875 5.25C7.875 5.97188 8.13203 6.58984 8.64609 7.10391C9.16016 7.61797 9.77812 7.875 10.5 7.875C11.2219 7.875 11.8398 7.61797 12.3539 7.10391Z' fill='%231D0C04'/%3E%3C/svg%3E%0A";
    --icon-menu-w: "data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' fill='white'/%3E%3C/svg%3E%0A";
    --icon-menu: "data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' fill='%231D0C04'/%3E%3C/svg%3E%0A";
    --icon-arrow-w: "data:image/svg+xml,%3Csvg width='15' height='27' viewBox='0 0 15 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0885 13.5092L0.538278 23.9744C0.179426 24.3303 0.005981 24.7456 0.0179427 25.2202C0.0299044 25.6948 0.215311 26.1101 0.574163 26.4661C0.933014 26.822 1.35167 27 1.83014 27C2.30861 27 2.72727 26.822 3.08612 26.4661L14.1388 15.5381C14.4258 15.2534 14.6411 14.933 14.7847 14.5771C14.9282 14.2211 15 13.8651 15 13.5092C15 13.1532 14.9282 12.7973 14.7847 12.4413C14.6411 12.0854 14.4258 11.765 14.1388 11.4802L3.08612 0.516713C2.72727 0.160755 2.30263 -0.0112911 1.8122 0.000574126C1.32177 0.0124394 0.89713 0.196351 0.538278 0.552309C0.179426 0.908267 4.16833e-07 1.32355 4.16833e-07 1.79816C4.16833e-07 2.27277 0.179426 2.68806 0.538278 3.04402L11.0885 13.5092Z' fill='white'/%3E%3C/svg%3E%0A";
    --icon-arrow: "data:image/svg+xml,%3Csvg width='15' height='27' viewBox='0 0 15 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0885 13.5092L0.538278 23.9744C0.179426 24.3303 0.005981 24.7456 0.0179427 25.2202C0.0299044 25.6948 0.215311 26.1101 0.574163 26.4661C0.933014 26.822 1.35167 27 1.83014 27C2.30861 27 2.72727 26.822 3.08612 26.4661L14.1388 15.5381C14.4258 15.2534 14.6411 14.933 14.7847 14.5771C14.9282 14.2211 15 13.8651 15 13.5092C15 13.1532 14.9282 12.7973 14.7847 12.4413C14.6411 12.0854 14.4258 11.765 14.1388 11.4802L3.08612 0.516713C2.72727 0.160755 2.30263 -0.0112911 1.8122 0.000574126C1.32177 0.0124394 0.89713 0.196351 0.538278 0.552309C0.179426 0.908267 4.16833e-07 1.32355 4.16833e-07 1.79816C4.16833e-07 2.27277 0.179426 2.68806 0.538278 3.04402L11.0885 13.5092Z' fill='%232B2B2B'/%3E%3C/svg%3E%0A";
}
@media screen and (max-width:1024px){
    :root{
        --wrapper-margin: 30px;
        --header-h: 70px;
        --font-size-tit: 32px;
        --font-size-subtit: 22px;
    }
}
@media screen and (max-width:768px){
    :root{
        --font-size-default: 16px;
        --font-size-tit: 28px;
        --font-size-subtit1: 24px;
        --font-size-subtit2: 20px;
        --wrapper-margin: 16px;
        --header-h: 56px;
    }
}
/* ::selection{
    background-color: var(--color-main);
    color: var(--color-white);
}
.footer *::selection{
    background-color: var(--color-bg);
    color: var(--color-main);
} */