@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    fill: #fff;
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo a{
    display: block;
    width: calc(var(--header-h) * (190 / 90));
    height: calc(var(--header-h) * (30 / 90));
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}

@media screen and (min-width:1025px){
/* header는 pc와 모바일 로고 빼고 스타일이 완전 달라서 pc버전/모바일 스타일을 media로 구분함
 min-width:1025px 1025px이상에만적용 - pc용
 max-width:1024px 1024px에만적용    -모바일용          */
            .header .gnb .gnb_open,
            .header .gnb .gnb_wrap .gnb_logo,
            .header .gnb .gnb_wrap .gnb_close{
                display: none; /*모바일에서만 나옴*/
            }

            .header .gnb .gnb_wrap ul.depth1{
                display: flex;
            }
            .header .gnb .gnb_wrap ul.depth1 > li {
                position: relative; /* ul.depth2의 정렬 */
                min-width: 0; /*최소넓이로 0 -> 179px로 부드럽게*/
                transition: 0.2s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                line-height: var(--header-h);
                /* 행간을 header 높이 만큼 주면 a의 높이가 header 높이가 되고 
                 글자도 위아래 가운데 들어감 */
                font-family: var(--font-family-tit);
                font-size: 25px;
                padding: 0 29px; /* 마우스 오버전에는 메뉴사이의 여백이 동일  */
                text-align: center;
                position: relative; /*after 정렬의 기준*/
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a::after{
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                bottom: -3px;
                width: 0;
                height: 5px;
                background-color: var(--color-main);
                transition: 0.3s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li >ul.depth2{
                display: none; /* 2차 메뉴 - 무조건 absolute */
                position: absolute;
                left: 0;
                top: var(--header-h);
                width: 100%;
                height: 262px;
                text-align: center;
                border-right: 1px solid #CCCCCC;
                padding: 15px 0 0 0;
            }
            .header .gnb .gnb_wrap ul.depth1 > li:first-child >ul.depth2{
                /* 첫번째 1차메뉴의 2차 ul에 */
                border-left: 1px solid #CCCCCC ;
            }
            .header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a{
                display: block;
                padding: 12px 0;
            }
            .header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a:hover{
                color: var(--color-main);
            }
            .header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a > span{
                position: relative; /*after의 기준 정렬*/
            }
            .header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a > span::after{
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -2px;
                width: 0;
                height: 1px;
                background-color: var(--color-main);
                transition: 0.2s;
            }
             .header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a:hover > span::after{
                width: 100%
             }

            .header .util{
                display: flex;
                gap: 15px;
            }
            .header .util .search .search_open,
            .header .util .mypage{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
            }

            /* 메뉴에 마우스를 올렸을때 meun_over */
            .header.menu_over{
                color: var(--font-color-tit);
                fill: var(--font-color-tit);
            }
            .header.menu_over::before{
                content: "";
                position: absolute; /* header를 기준으로 정렬 */
                left: 0;
                top: 0;
                z-index: -1; 
                /* 지하 1층 - 기본적으로 position 없으면 1층 있으면 2층부터 시작*/
                width: 100%;
                height: 360px;
                background-color: #fff;
            }
            .header.menu_over::after{
                content: "";
                position: absolute;
                left: 0;
                top: var(--header-h);
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }
            .header.menu_over .logo a{
                background-image: url(../images/logo.svg);
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                min-width: 179px;
            }
            .header .gnb .gnb_wrap ul.depth1 > li.over > a{
                color: var(--color-main);
                font-weight: var(--font-weight-bold);
            }
            .header .gnb .gnb_wrap ul.depth1 > li.over > a::after{
                width: 100%;
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li >ul.depth2{
                display: block;
            }

}/*@media*/


.visual{
    position: relative; /*ctrl_left, .ctrl_right의 정렬 기준*/
}
.visual .swiper-slide{
    /* height: 100vh;
    min-height: 500px; 이렇게 두개를 쓸 것을 축약한 버전 */
    height: max(500px, 100vh);
    background: url(../images/visual_bg1.jpg) no-repeat center center /  cover;
    color: #fff;
    padding: 0 var(--wrapper-margin) clamp(41px, 16vw, 185px) var(--wrapper-margin);

    display: flex; /* h3와 p를 아래로 정렬하기 위해서 */
    justify-content: flex-end;
    flex-direction: column;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide h3{
    font-family: var(--font-family-tit);
    font-size: clamp(40px, 7vw, 80px);
    /* clamp(최소값, 평소값, 최대값) 
        clamp(모바일크기, 대충 pc 크기 px기준 1/10 정도의 vw, pc크기) */

    line-height: var(--line-height-tit);
    margin:  0 0 8px 0;
}

.visual .ctrl_left{
    position: absolute; /* visual의 정렬의 기준*/
    left: var(--wrapper-margin);
    bottom: 127px;
    z-index: 10;
    color: #fff;
    fill: #fff; /*svg 흰색*/
    display: flex;
    gap: 17px;
    align-items: center;
}
.visual .ctrl_left .bar{
    width: 300px;
    height: 5px;
    /* fill: #fff ; /*rgba(255, 255, 255, 0.2)
    color: #fff; */
    position: relative;/*span 정렬의 기준*/
    background-color: rgba(255, 255, 255, 0.2);
}
.visual .ctrl_left .bar span{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.visual .ctrl_left .play{
    display: none;
}
.visual .ctrl_right{
    position: absolute; /* visual의 정렬의 기준*/
    right: var(--wrapper-margin);
    bottom: 90px;
    z-index: 10;
    color: #fff;
    fill: #fff; /*svg 흰색*/
    display: flex;
    gap: 7px;
}
.visual .ctrl_right button{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex; /*svg를 가운데 놓기 위해*/
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:768px){
    .visual .swiper-slide{
        height: 500;
        padding-bottom: 41px;
    }
            .visual .ctrl_left,
            .visual .ctrl_right{
                display: none;
            }
}/*@media*/