@import url(pretendard.css);
@import url(commons.css);
.box{
    width: 500px;
    height: 400px;
    background-color: yellowgreen;
    position: relative; /* point 정렬의 기준이 되기 위해서 position: relative는 안주는 것과 거의 유사함 */
}
.box .point{
    display: inline-block;
    padding: 30px;
    background-color: red;
    color: #fff;
    position: absolute; /* point는 나를 감싸고 있는 box를 기준으로 정렬 */
    right: 0;
    bottom: 0;
}
.notice{
    margin: 100px 0;
}
.notice .wrapper{
    display: flex; /* h2 - list 좌우배치 */
    justify-content: space-between;
    position: relative; /*  more 정렬의 기준 */
}
.notice h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.notice .list{
    width: 832px; /* 영상 832px D디자인이랑 같이 비교해서 다시 조정해보기*/
}
.notice .list ul li{
    border-bottom: 1px solid #ccc;
}
.notice .list ul li:first-child{
    border-top: 1px solid #ccc;
}
.notice .list ul li a{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.notice .list ul li a h3{
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;

    width: calc(100% - 120px);
    /* 나를 감싸는 요소의 넓이 100%에서 120px을 빼고 나머지 전부 */

    /* 제목을 무조건 1줄로 제한*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}
.notice .list ul li a span{
    color: #666;
}
.notice .more{
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 0;
    top: 105px; /* 브라우저에서 직접 키보드로 줘서 해보기 */
    display: block;
    border: 1px solid #ccc;
    padding: 13px 34px;
    border-radius: 30px;
}
.notice .more:hover{
    background-color: #1d1d1d;
    color: #fff;
    border-color: #1d1d1d; /*오버전에 border가 있었다면 오버후에도 border는 유지해야함 -  !! border의 색상이 background 색상과 같다고 border:0 처리하면 버튼크기가 변함 !! border-color만 변경하고 border의 두께는 유지.*/
}

.f_nav{
    margin: 100px 0;
}
.f_nav ul{
    display: flex;
    gap: 0 30px
}
.f_nav ul li::before{
    content: "";/* 가상선택자 필수 */
}
.f_nav ul li::after{
    content: "";/* 가상선택자 필수 */
}