@import url(pretendard.css);
@import url(commons.css);
.box{
    width: 500px;
    height: 400px;
    background-color: yellowgreen;
    position: relative; /* point 정렬의 기준이 되기 위해서 position: relative는 안주는 것과 거의 유사함 */
}
.box .point{
    display: inline-block;
    padding: 30px;
    background-color: red;
    color: #fff;
    position: absolute; /* point는 나를 감싸고 있는 box를 기준으로 정렬 */
    right: 0;
    bottom: 0;
}