@import url(pretendard.css);
@import url(commons.css);

.visual .swiper-slide{
    height: 900px;
    background: url(../images/visual01.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 369px 0 26px 0;
}
.visual .ctrl_wrap{
    position: absolute; /*swiper를 기준으로 정렬 */
    left: 50%; /*★*/
    /* left 50% - 나의 정렬의 기준이 되는 swiper의 넓이에 50%  
       translateX(-50%) -  ctrl_wrap 나 자신의 넓이의 절반을 왼쪽으로 이동 */
    transform: translateX(-50%); /*★*/
    bottom: 50px;
    z-index: 10;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 6px;
}
.visual .ctrl_wrap .paging{
    width: auto; /* 100% 해제 */
}
.visual .ctrl_wrap .btn{
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative; /* before/after 정렬의 기준 */
}
.visual .ctrl_wrap .btn.prev::before,
.visual .ctrl_wrap .btn.next::before{
    content: "";
    position: absolute; /* btn을 기준으로 정렬 */
    left: 5px;
    top: 5px;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px 1px;
    transform: rotateZ(45deg); /*deg - 각도*/

}
.visual .ctrl_wrap .btn.next::before{
    transform: rotateZ(225deg);
    left: 3px;
}
.visual .ctrl_wrap .btn.stop::before,
.visual .ctrl_wrap .btn.stop::after{
    content: "";
    position: absolute;
    left: 6px;
    top: 5px;
    width: 1px;
    height: 6px;
    background-color: #fff;
}
.visual .ctrl_wrap .btn.stop::after{
    left: 9px;
}
.visual .ctrl_wrap .btn.play::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 4px;
    width: 8px;
    height: 8px;
    background: url(../images/visual_play.svg) no-repeat center center;
}

body{
    margin: 0 0 1000px 0;
}