@import url(pretendard.css);
/************** Start : 태그 초기화 **************/
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none; /*밑줄삭제*/
}
ul,ol,li{
    list-style: none; /*앞에 도형 제거*/
}
/************** End : 태그 초기화 **************/
/************** Start : 기본 스타일 **************/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/************** End : 기본스타일 **************/
.share{
    text-align: center;
}
.share h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 140px 0 20px 0;
}
.share a{
    background-color: #00664f;
    color: #fff;
    font-weight: 700;
    padding: 6px 8px;
    display: inline-block;
    margin: 30px 0 0 0;
}
.first{
    background: url(../images/eh_first.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    margin: 80px 0 0 0 ;
    height: 513px;
}
.first h2{
    font-size: 40px;
    font-weight: 700;
    padding: 140px 0 20px 0;
}
.first a{
    background-color: #fff;
    color: #00664f;
    font-weight: 700;
    padding: 10px 20px;
    display: inline-block;
    margin: 30px 0 0 0;
    border-radius: 50px;
}

.history{
    background-color: #00664f;
    color: #fff;
    height: 513px;
}
.history h2{
    font-size: 40px;
    font-weight: 700;
    padding: 140px 0 20px 0;
}
.history a{
    margin: 30px 0 0 0;
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 18px;
    border-radius: 50px;
}

.project h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 115px 0 20px 0;
}
.project ul{
    display: flex; /* li를 좌우로 배치 */
    justify-content: space-between
}
/* li와 a의 사이즈를 동일하게 할때 반드시 li에는 넓이를 a에는 높이를 줘야함!!! */
.project ul li{
    width: 297px;
}
.project ul li a{
    display: block;
    height: 300px;
    background: url(../images/eh_project1.jpg) no-repeat center center / cover;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 235px 0 0 35px;
}
/* li.bg2 (여백없음주의) li들 중에서 bg2라는 클래스명을 갖은 li를 이야기함. */
.project ul li.bg2 a{
    background-image: url(../images/eh_project2.jpg);
}
.project ul li.bg3 a{
    background-image: url(../images/eh_project3.jpg);
}
.project ul li.bg4 a{
    background-image: url(../images/eh_project4.jpg);
}

.emp{
    margin: 140px 0 0 0;
}
.emp .wrapper{
    background-color: #00664f;
    color: #fff;
    height: 270px;
    display: flex; /* tit-를 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}
.emp .tit h2{
    font-size: 40px;
    font-weight: 700;
}
.emp a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 18px;
    border-radius: 50px;
}
body{
    margin: 0 0 150px 0;
}
