@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 400;
    src: 
    url(../fonts/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareNeoTTF-bRg.woff2) format("woff2"),
    url(assets/fonts/1f39d858e5887b90.woff) format("font-woff")
}
@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 700;
    src: 
    url(../fonts/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareNeoTTF-cBd.woff2) format("woff2"),
    url(assets/fonts/1f39d858e5887b90.woff) format("font-woff")
}
@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 800;
    src: 
    url(../fonts/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareNeoTTF-dEb.woff2) format("woff2"),
    url(assets/fonts/1f39d858e5887b90.woff) format("font-woff")
}