@import url(fonts.css);
@import url(commons.css);

.header{
    height: 100px;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .gnb ul{
    display: flex; /*li를 좌우로 배치*/
}
.header .gnb ul li a{
    display: block;
    line-height: 100px; /* 행간을 header의 높이와 동일하게 */
    padding: 0 23px;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual .wrapper{ /* wrapper의 margin은 건들지않기 */
    height: 800px;
    display: flex; /* flex를 사용해 h2,p를 아래로 내려 아래로 내려 여백을 padding을 사용해 값 주기*/
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 150px 0;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 18px 0;
}

.biz{
    margin: 192px 0 106px 0;
}
.biz .tit h2{
    font-weight: 700;
    color: #091F5B;
}
.biz .tit p{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 6px 0 0 0;
}
.biz .list{
    margin: 52px 0 0 0;
}
.biz .list ul{
    display: flex;/*li를 좌우 배치*/
    justify-content: space-between;
}
.biz .list ul li{
    width: 297px;
}
.biz .list ul li a{
    display: block;
}
.biz .list ul li a .txt{
    text-align: center;
    margin: 0 40px; /*위아래x,좌우o*/
}
.biz .list ul li a .txt h3{
    font-size: 32px;
    color: #1d1d1d;
    margin: 20px 0 13px 0;
}
.biz .list ul li a .txt span{
    display: block;
    border: 1px solid #ccc;
    margin: 14px 0 0 0; /* 상자와 글자 사이 여백 */
    padding: 9px 70px; /* 글자의 테두리 상자 넓이 */
}

.brand{
    background: url(../images/brand_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.brand .wrapper{
    height: 700px;
    display: flex; /* display를 사용한 정렬*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.brand h2{
    font-weight: 700;
}
.brand p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 8px 0 22px 0;
}
.brand a{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 9px 26px; /*border랑 글자 사이 padding*/
}


.footer{
    background-color: #000;
    color: rgba(255, 255, 255, 0.8);
    padding: 84px 0; /*footer는 여백을 꼭 padding으로 주기*/
}
.footer .f_nav ul{
    display: flex;
    gap:0 44px;
}
.footer .f_nav ul li.privacy{ /* 개인정보 처리방침은 bold 값은 꼭 특정 class를 주기*/
    font-weight: 700;
}
.footer .f_info{
    margin: 24px 0;
    display: flex;
    gap:0 44px;
}
