@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(commons.css);

.header{
    height: 100px;
    display: flex; /* logo-gnb 좌우 */
    justify-content: space-between;
    margin: 0 40px 0 60px; /* 위,오른쪽,아래,왼쪽*/
}
.header .logo{
    margin: 10px 0 0 0 ; 
}
.header .gnb ul{
    display: flex; /* li 좌우배치 */
}
.header .gnb ul li a{
    display: block;
    line-height: 100px; /* header의 높이와 동일 */
    font-size: 20px;
    font-weight: 700;
    color: #191E26;
    padding: 0 21.5px;
}
.header .gnb ul li a:hover{ /* a에 마우스를 올렸을때 색상이 변경됨//:hover */
    color: #710004;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
    margin: 0 40px;
    border-radius: 30px;
}
.visual .wrapper{
    padding: 0 0 0 40px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 504px 0 20px 0;
}

.biz{
    margin: 154px 0;
}
/* group = music, art 모두에 스타일이 적용됨 */
.biz .art{
    margin: 95px 0 0 0;
}
.biz .group{
    display: flex; /* tit-photo */
    justify-content: space-between;
}
.biz .group .tit{
    width: 510px;
    margin: 10px 0 0 0;
}
.biz .group .tit h3{
    color: #710004;
}
.biz .group .tit .sub_tit{
    color: #191E26;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 10px 0;
}
.biz .group .tit .sub_tit strong{
    color: #710004;
}
.biz .group .tit .btn_wrap{
    display: flex; /* a를 좌우로 주기 위해 */
    margin: 40px 0 0 0;
    gap: 10px 13px;
    /* flex로 정렬된 a사이의 여백 위아래여백 좌우의여백*/
    flex-wrap: wrap;
    /* flex 정렬된 a가 두줄로 정령되는 것을 허락 */
}
.biz .group .tit .btn_wrap a{
    display: block;
    color: #710004;
    border: 1px solid #710004;
    padding: 14px 22px;
    border-radius: 100px;
}
/*  <a></a>
    <a></a>
    <a class="active"></a>

    a.active라는 선택자는 a들 중에서 active 클래스가 있는 a를 뜻함
    a     .active 이렇게 띄어쓰기를 하면
    <a> <strong class="active"></strong> </a>
    이런식으로 a안에 active 클래스가 별도로 있는 것을 이야기함
 */
.biz .group .tit .btn_wrap a.active{
    background-color: #710004;
    color: #fff;
}
.biz .group .tit .btn_wrap a:hover{
    background-color: #E3CCCD;
    font-weight: 700;
}
.biz .group .tit .btn_wrap a.active:hover{
    color: #710004;
}
.biz .group .photo{
    width: 618px;
    height: 454px;
    overflow: hidden;
    border-radius: 20px;
}
.biz .group .photo img{
    width: 100%;
    height: 100%;
    object-fit:  cover;
}

.community{
    background: url(../images/community_bg.jpg) no-repeat center top;
    color: #fff;
}
.community .notice{
    padding: 151px 0 161px 0;
    display: flex;
    justify-content: space-between;
}
.community .notice .tit h3{
    color: #fff;
    font-weight: 400;
}
.community .notice .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 10px 0 0 0;
}
.community .notice .list{
    width: 683px;
}
.community .notice .list ul li{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.community .notice .list ul li:first-child{ /* li:first-child li중에 첫번째 li를 부를때 자주 씀 */
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .notice .list ul li a{
    display: flex; /*h4-span 좌우배치*/
    justify-content: space-between;
    padding: 28px 0;
}
.community .notice .list ul li a:hover{
    color: #FCF0D6;
}
.community .notice .list ul li a h4{
    font-size: 18px;
    font-weight: 700;
}
.community .notice .list ul li a span{
   color: rgba(255,255,255,0.2);
}
.community .notice .list ul li a:hover span{
    color: #FCF0D6;
}

.community .youtube .tit h3{
    font-weight: 400;
    color:#fff
}
.community .youtube .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 10px 0 37px 0;
}
.community .youtube .list{
    margin: 0 0 0 0;
}
.community .youtube .list ul{
    display: flex; /* li를 좌우로 배치 */
    justify-content: space-between;
}
.community .youtube .list ul li{
    width: 404px;
}
.community .youtube .list ul li a{
    display: block;
    color: #191E26;

}
.community .youtube .list ul li a .photo{
    height: 227px;
    border-radius: 10px;
    border: 2px solid #710004;
    overflow: hidden; /* photo에 꼭 주기! */
}
.community .youtube .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    /* 마우스를 오버했을때 변경되는 값을 천천히 실행하라 */
}
.community .youtube .list ul li a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.community .youtube .list ul li a h4{
    font-weight: 700;
    line-height: 1.3;
    margin: 10px 0 0 0;
    color: #191E26;
}



.footer{
    border-top: 1px solid rgba(69, 75, 82, 0.35) ;
    color: #656F83;
    margin: 126px 0 0 0;
    padding: 85px 0 85px 0;
}
.footer .f_nav ul{
    display: flex; /*li를 좌우로*/
    gap: 0 36px /* li 사이의 여백 */
}
.footer .f_info{
    margin: 20px 0;
    display: flex;
    gap: 0 20px;
}