@import url(reset.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual .swiper{
    width: 100vw;
}
.visual .swiper-slide{
    height: 100dvh;
    display: flex; /* visual_txt를 정렬하려고 */
    flex-direction: column;
    justify-content: center;
}
.visual .swiper-slide .photo,
.visual .swiper-slide .video{
    position: absolute; /*.swiper-slide를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img,
.visual .swiper-slide .video video,
.visual .swiper-slide .video video source{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .photo img{
    transform: scale3d(1.125, 1.125, 1);
    transition: transform 3s;
}
.visual .swiper-slide.swiper-slide-active .photo img{
    transform: scale3d(1, 1, 1);
}
.visual .swiper-slide .visual_txt{
    font-size: clamp(32px, 7vw, 80px);
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
    text-align: center;
}
.visual .swiper-slide .visual_txt .line{
    overflow: hidden;
}
.visual .swiper-slide .visual_txt .line:first-child span{
    transition-delay: 0.3s;
}
.visual .swiper-slide .visual_txt .line:last-child span{
    transition-delay: 0.5s;
}
.visual .swiper-slide .visual_txt .line span{
    display: block;
    transform: translateY(100%);
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
.visual .swiper-slide.swiper-slide-active .visual_txt .line span{
    transform: translateY(0);
}

.tree .wrapper{
    display: flex; /* txt - photo 좌우배치 */
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.tree .txt h2{
    display: flex; /* 좌우정렬 */
    color: #00804D;
}
.tree .txt h2 strong{
    font-size: 100px;
    font-weight: 800;
    line-height: 1.3;
}
.tree .txt h2 span{
    margin: 15px 0 0 5px;
    font-size: 24px;
    font-weight: 800;
}
.tree .txt .sub_tit{
    font-size: 20px;
    font-weight: 800;
    color: #1D1D1D;
}
.tree .photo{
    width: 59.84%;
    position: relative; /*나무 정렬의 기준*/
}
.tree .photo .tree{
    width: 88.73%;
}
.tree .photo .leaf{
    position: absolute; /*photo를 기준으로*/
    right: 35%;
    bottom: 38%;
    width: 8.09%;
    animation: tree_down 5s ease infinite;
}
@keyframes tree_down {
    0%{transform: translate(0, 0); opacity: 1;}
    90%{transform: translate(100%, 200%); opacity: 0;}
    100%{transform: translate(100%, 200%); opacity: 0;}
}
.tree .photo .sun{
    position: absolute; /*photo를 기준으로*/
    right: 65px;
    top: -3%;
    width: 27.72%;
    animation: tree_rotate 3s linear infinite;
}
@keyframes tree_rotate {
    0%{transform: rotate(0); opacity: 0;}
    50%{transform: rotate(180deg); opacity: 1;}
    100%{transform: rotate(360deg); opacity: 0;}
}
.tree .photo .cloud01{
    position: absolute;/*photo를 기준으로*/
    right: 5%;
    top: 15%;
    width: 46.95%;
    animation: tree_right 5s linear infinite;
}

.tree .photo .cloud02{
    position: absolute; /*photo를 기준으로*/
    left: 0;
    top: 38%;
    width: 32.23%;
    animation: tree_right 5s linear infinite;
}
@keyframes tree_right{
    0%{transform: translateX(0); opacity: 1;}
    50%{transform: translateX(10%); opacity: 0;}
    100%{transform: translateX(0%); opacity: 1;}
}

.biz{
    background-color: #073C51;
    color: #fff;
}

.story{
}

.footer{
    background-color: #1D1D1D;
    color: #fff;
}

.sec_nav{
    position: fixed; /* 브라우저를 기준으로 정렬 */
    left: 40px;
    top: 50%; /* 브라우저 높이의 50% */
    transform: translateY(-50%); /* sec_nav 나의 길이 절반을 위로 올라감 */
}

.sec_nav ul{
    display: flex;
    flex-direction: column;
    gap: 1px 0;
}

.sec_nav ul li a{
    display: block;
    color: #fff;
    padding: 0 0 0 12px;
    position: relative; /* before 정렬의 기준 */
}
.sec_nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.sec_nav ul li.active a{
    color: #fff;
}
.sec_nav ul li.active a::before{
    border-color: #fff;
    background-color: #fff;
}
/* .sec_nav ul li.active a::after{
    contain: ""; 
    position: absolute;
    다른디자인일때 ~
}
.sec_nav ul li.active a span{
    display: inline-block;
    padding: 0 6px 0 4px;
    border-radius: 5px;
} */

/* 배경색이 흰색이 되었을때 */
.sec_nav[data-bg="white"] ul li a{
    color: #083027;
}
.sec_nav[data-bg="white"] ul li a::before{
    border: 1px solid #083027;
}
.sec_nav[data-bg="white"] ul li.active a::before{
    border-color: #083027;
    background-color: #083027;
}
.sec_nav{
    transition: 0.1s;
}
.sec_nav[data-bg="none"]{
    opacity: 0;
}
.quick{
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 94px;
    padding-bottom: 105px; /* open/close 들어갈 자리 */
}
.quick .open,
.quick .close{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: #083027;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    }
.quick .open{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4494 13.2355C11.2731 13.1877 11.098 13.1201 10.9243 13.0325L0.584663 7.64442C0.376684 7.52814 0.227299 7.38486 0.136506 7.21458C0.0455021 7.04429 0 6.85736 0 6.65376C0 6.44996 0.0455021 6.26292 0.136506 6.09264C0.227299 5.92235 0.376684 5.77907 0.584663 5.66279L10.9243 0.274666C11.098 0.187145 11.2731 0.119488 11.4494 0.0716926C11.6255 0.0238975 11.807 0 11.9938 0C12.1807 0 12.3622 0.0238975 12.5383 0.0716926C12.7146 0.119488 12.8896 0.187145 13.0634 0.274666L23.415 5.66279C23.623 5.77907 23.7725 5.92235 23.8635 6.09264C23.9545 6.26292 24 6.44996 24 6.65376C24 6.85736 23.9545 7.04429 23.8635 7.21458C23.7725 7.38486 23.623 7.52814 23.415 7.64442L13.0634 13.0325C12.8896 13.1201 12.7146 13.1877 12.5383 13.2355C12.3622 13.2833 12.1807 13.3072 11.9938 13.3072C11.807 13.3072 11.6255 13.2833 11.4494 13.2355ZM11.9938 11.4811L21.3345 6.65376L11.9938 1.82646L2.66519 6.65376L11.9938 11.4811ZM11.9938 16.3273L22.1336 11.068C22.184 11.0392 22.3562 11.0114 22.6501 10.9845C22.9035 11.0002 23.111 11.0933 23.2725 11.2638C23.4342 11.4341 23.5151 11.6434 23.5151 11.8917C23.5151 12.0634 23.4765 12.2185 23.3992 12.3569C23.3221 12.4955 23.1959 12.611 23.0204 12.7033L13.0634 17.8791C12.8896 17.9666 12.7146 18.0343 12.5383 18.0821C12.3622 18.1297 12.1807 18.1535 11.9938 18.1535C11.807 18.1535 11.6255 18.1297 11.4494 18.0821C11.2731 18.0343 11.098 17.9666 10.9243 17.8791L0.979294 12.7033C0.803832 12.611 0.675561 12.4955 0.594481 12.3569C0.51319 12.2185 0.472545 12.0634 0.472545 11.8917C0.472545 11.6434 0.555419 11.4341 0.721169 11.2638C0.886707 11.0933 1.09616 11.0002 1.34954 10.9845C1.43885 10.9686 1.525 10.9682 1.60798 10.9833C1.69075 10.9984 1.77679 11.0266 1.86611 11.068L11.9938 16.3273ZM11.9938 21.1735L22.1336 15.9142C22.184 15.8857 22.3562 15.8578 22.6501 15.8307C22.9035 15.8467 23.111 15.9398 23.2725 16.1101C23.4342 16.2803 23.5151 16.4896 23.5151 16.7379C23.5151 16.9098 23.4765 17.065 23.3992 17.2034C23.3221 17.3419 23.1959 17.4572 23.0204 17.5495L13.0634 22.7253C12.8896 22.8129 12.7146 22.8805 12.5383 22.9283C12.3622 22.9761 12.1807 23 11.9938 23C11.807 23 11.6255 22.9761 11.4494 22.9283C11.2731 22.8805 11.098 22.8129 10.9243 22.7253L0.979294 17.5495C0.803832 17.4572 0.675561 17.3419 0.594481 17.2034C0.51319 17.065 0.472545 16.9098 0.472545 16.7379C0.472545 16.4896 0.555419 16.2803 0.721169 16.1101C0.886707 15.9398 1.09616 15.8467 1.34954 15.8307C1.43885 15.8148 1.525 15.8144 1.60798 15.8295C1.69075 15.8446 1.77679 15.8728 1.86611 15.9142L11.9938 21.1735Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .close{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 11.661L2.00378 19.6576C1.78547 19.8756 1.51108 19.9873 1.1806 19.9925C0.850377 19.9975 0.57099 19.8859 0.342436 19.6576C0.114145 19.429 0 19.1521 0 18.8269C0 18.5017 0.114145 18.2248 0.342436 17.9962L8.33905 10L0.342436 2.00378C0.124391 1.78548 0.0127413 1.51108 0.00748719 1.1806C0.00249579 0.850377 0.114145 0.57099 0.342436 0.342436C0.57099 0.114145 0.847881 0 1.17311 0C1.49834 0 1.77523 0.114145 2.00378 0.342436L10 8.33905L17.9962 0.342436C18.2145 0.124391 18.4889 0.0127413 18.8194 0.00748719C19.1496 0.00249579 19.429 0.114145 19.6576 0.342436C19.8859 0.57099 20 0.847881 20 1.17311C20 1.49834 19.8859 1.77523 19.6576 2.00378L11.661 10L19.6576 17.9962C19.8756 18.2145 19.9873 18.4889 19.9925 18.8194C19.9975 19.1496 19.8859 19.429 19.6576 19.6576C19.429 19.8859 19.1521 20 18.8269 20C18.5017 20 18.2248 19.8859 17.9962 19.6576L10 11.661Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .open span,
.quick .close span{
    display: none;
}
.quick .quick_wrap ul{
    background-color: #fff;
    border: 2px solid #083027;
    border-radius: 50px;
    color: #083027;
    padding: 31px 0;
}
.quick .quick_wrap ul li{
    text-align: center;
    border-bottom: 1px solid #083027;
}
.quick .quick_wrap ul li:last-child{
    border-bottom: 0;
}
.quick .quick_wrap ul li a,
.quick .quick_wrap ul li button{
    display: block;
    height: 92px;
    width: 92px;
    padding: 50px 0 0 0 ;
    position: relative;
}
.quick .quick_wrap ul li a::before,
.quick .quick_wrap ul li button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 21px;
}
.quick .quick_wrap ul li.kakao a::before{
   background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2875 17.55C9.04583 17.4667 8.83333 17.3333 8.65 17.15L6.925 15.575C5.15833 13.9583 3.5625 12.3542 2.1375 10.7625C0.7125 9.17083 0 7.41667 0 5.5C0 3.93333 0.525 2.625 1.575 1.575C2.625 0.525 3.93333 0 5.5 0C6.38333 0 7.21667 0.1875 8 0.5625C8.78333 0.9375 9.45 1.45 10 2.1C10.55 1.45 11.2167 0.9375 12 0.5625C12.7833 0.1875 13.6167 0 14.5 0C16.0667 0 17.375 0.525 18.425 1.575C19.475 2.625 20 3.93333 20 5.5C20 7.41667 19.2917 9.175 17.875 10.775C16.4583 12.375 14.85 13.9833 13.05 15.6L11.35 17.15C11.1667 17.3333 10.9542 17.4667 10.7125 17.55C10.4708 17.6333 10.2333 17.675 10 17.675C9.76667 17.675 9.52917 17.6333 9.2875 17.55ZM9.05 4.1C8.56667 3.41667 8.05 2.89583 7.5 2.5375C6.95 2.17917 6.28333 2 5.5 2C4.5 2 3.66667 2.33333 3 3C2.33333 3.66667 2 4.5 2 5.5C2 6.36667 2.30833 7.2875 2.925 8.2625C3.54167 9.2375 4.27917 10.1833 5.1375 11.1C5.99583 12.0167 6.87917 12.875 7.7875 13.675C8.69583 14.475 9.43333 15.1333 10 15.65C10.5667 15.1333 11.3042 14.475 12.2125 13.675C13.1208 12.875 14.0042 12.0167 14.8625 11.1C15.7208 10.1833 16.4583 9.2375 17.075 8.2625C17.6917 7.2875 18 6.36667 18 5.5C18 4.5 17.6667 3.66667 17 3C16.3333 2.33333 15.5 2 14.5 2C13.7167 2 13.05 2.17917 12.5 2.5375C11.95 2.89583 11.4333 3.41667 10.95 4.1C10.8333 4.26667 10.6917 4.39167 10.525 4.475C10.3583 4.55833 10.1833 4.6 10 4.6C9.81667 4.6 9.64167 4.55833 9.475 4.475C9.30833 4.39167 9.16667 4.26667 9.05 4.1Z' fill='%23083027'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.naver a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 8.5C6.38333 8.5 5.4375 8.89167 4.6625 9.675C3.8875 10.4583 3.5 11.4 3.5 12.5C3.5 13.6167 3.8875 14.5625 4.6625 15.3375C5.4375 16.1125 6.38333 16.5 7.5 16.5C8.6 16.5 9.54167 16.1125 10.325 15.3375C11.1083 14.5625 11.5 13.6167 11.5 12.5C11.5 11.4 11.1083 10.4583 10.325 9.675C9.54167 8.89167 8.6 8.5 7.5 8.5ZM7.5 10.5C8.05 10.5 8.52083 10.6958 8.9125 11.0875C9.30417 11.4792 9.5 11.95 9.5 12.5C9.5 13.05 9.30417 13.5208 8.9125 13.9125C8.52083 14.3042 8.05 14.5 7.5 14.5C6.95 14.5 6.47917 14.3042 6.0875 13.9125C5.69583 13.5208 5.5 13.05 5.5 12.5C5.5 11.95 5.69583 11.4792 6.0875 11.0875C6.47917 10.6958 6.95 10.5 7.5 10.5ZM18 13C17.7167 13 17.4792 13.0958 17.2875 13.2875C17.0958 13.4792 17 13.7167 17 14C17 14.8 16.6958 15.5 16.0875 16.1C15.4792 16.7 14.7833 17 14 17C13.7167 17 13.4792 17.0958 13.2875 17.2875C13.0958 17.4792 13 17.7167 13 18C13 18.2833 13.0958 18.5208 13.2875 18.7125C13.4792 18.9042 13.7167 19 14 19C15.4667 19 16.6667 18.5333 17.6 17.6C18.5333 16.6667 19 15.4667 19 14C19 13.7167 18.9042 13.4792 18.7125 13.2875C18.5208 13.0958 18.2833 13 18 13ZM18 11C18.8333 11 19.5417 11.2917 20.125 11.875C20.7083 12.4583 21 13.1667 21 14C21 16.0167 20.3375 17.6875 19.0125 19.0125C17.6875 20.3375 16.0167 21 14 21C13.15 21 12.4375 20.7125 11.8625 20.1375C11.2875 19.5625 11 18.85 11 18C11 17.1667 11.2875 16.4583 11.8625 15.875C12.4375 15.2917 13.15 15 14 15C14.2333 15 14.4583 14.8917 14.675 14.675C14.8917 14.4583 15 14.2333 15 14C15 13.1667 15.2875 12.4583 15.8625 11.875C16.4375 11.2917 17.15 11 18 11ZM7.5 0C8.48333 0 9.37917 0.3125 10.1875 0.9375C10.9958 1.5625 11.7 2.32917 12.3 3.2375C12.9 4.14583 13.4 5.125 13.8 6.175C14.2 7.225 14.4833 8.175 14.65 9.025C14.7 9.29167 14.6417 9.52083 14.475 9.7125C14.3083 9.90417 14.0917 10 13.825 10C13.525 10 13.2667 9.90833 13.05 9.725C12.8333 9.54167 12.6833 9.30833 12.6 9.025C12.3833 8.10833 12.0875 7.22917 11.7125 6.3875C11.3375 5.54583 10.9208 4.8 10.4625 4.15C10.0042 3.5 9.52083 2.97917 9.0125 2.5875C8.50417 2.19583 8 2 7.5 2C6.86667 2 6.225 2.30833 5.575 2.925C4.925 3.54167 4.33333 4.32917 3.8 5.2875C3.26667 6.24583 2.83333 7.31667 2.5 8.5C2.16667 9.68333 2 10.85 2 12C2 12.9167 2.11667 13.7417 2.35 14.475C2.58333 15.2083 2.92917 15.8375 3.3875 16.3625C3.84583 16.8875 4.41667 17.2917 5.1 17.575C5.78333 17.8583 6.575 18 7.475 18H8C8.28333 17.9667 8.5375 18.0292 8.7625 18.1875C8.9875 18.3458 9.11667 18.5667 9.15 18.85C9.21667 19.1833 9.09583 19.4583 8.7875 19.675C8.47917 19.8917 8.11667 20 7.7 20C5.3 20.05 3.41667 19.3375 2.05 17.8625C0.683333 16.3875 0 14.4333 0 12C0 10.75 0.1875 9.42083 0.5625 8.0125C0.9375 6.60417 1.4625 5.30833 2.1375 4.125C2.8125 2.94167 3.60833 1.95833 4.525 1.175C5.44167 0.391667 6.43333 0 7.5 0Z' fill='%23083027'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.green a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.63137 18.961V15.8442H1.07484C0.645354 15.8442 0.332184 15.6623 0.135334 15.2987C-0.0615155 14.9351 -0.0436201 14.5801 0.18902 14.2338L3.24914 9.61039C2.83754 9.61039 2.52885 9.4329 2.32305 9.07792C2.11725 8.72294 2.13962 8.37229 2.39016 8.02597L7.893 0.441558C8.10774 0.147186 8.40302 0 8.77882 0C9.15463 0 9.4499 0.147186 9.66465 0.441558L12 3.68831L14.3354 0.441558C14.5501 0.147186 14.8454 0 15.2212 0C15.597 0 15.8923 0.147186 16.107 0.441558L21.6098 8.02597C21.8604 8.37229 21.8827 8.72294 21.677 9.07792C21.4712 9.4329 21.1625 9.61039 20.7509 9.61039L23.811 14.2338C24.0436 14.5801 24.0615 14.9351 23.8647 15.2987C23.6678 15.6623 23.3546 15.8442 22.9252 15.8442H17.3686V18.961C17.3686 19.2554 17.2657 19.5022 17.0599 19.7013C16.8541 19.9004 16.5991 20 16.2949 20H14.1475C13.8432 20 13.5882 19.9004 13.3824 19.7013C13.1766 19.5022 13.0737 19.2554 13.0737 18.961V15.8442H10.9263V18.961C10.9263 19.2554 10.8234 19.5022 10.6176 19.7013C10.4118 19.9004 10.1568 20 9.85255 20H7.7051C7.40088 20 7.14587 19.9004 6.94007 19.7013C6.73427 19.5022 6.63137 19.2554 6.63137 18.961ZM17.0734 13.7662H20.9656L16.8049 7.53247H18.6034L15.2212 2.85714L13.3153 5.48052L15.1675 8.02597C15.418 8.37229 15.4404 8.72294 15.2346 9.07792C15.0288 9.4329 14.7201 9.61039 14.3085 9.61039L17.0734 13.7662ZM3.03439 13.7662H14.5233L10.3626 7.53247H12.1611L8.77882 2.85714L5.39659 7.53247H7.19508L3.03439 13.7662ZM3.03439 13.7662H7.19508H5.39659H12.1611H10.3626H14.5233H3.03439ZM17.0734 13.7662H14.3085H16.2949H13.3153H18.6034H16.8049H20.9656H17.0734Z' fill='%23083027'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.top button::before{
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='10' viewBox='0 0 19 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.06715 2.60766L2.03366 9.64115C1.79442 9.88038 1.51531 9.99601 1.19633 9.98804C0.877356 9.98006 0.598247 9.85646 0.359013 9.61723C0.119778 9.37799 0.000162125 9.09888 0.000162125 8.7799C0.000162125 8.46093 0.119778 8.18182 0.359013 7.94258L7.70351 0.574162C7.8949 0.382775 8.11021 0.239234 8.34944 0.14354C8.58868 0.0478465 8.82791 -4.04043e-07 9.06715 -3.9367e-07C9.30638 -3.83297e-07 9.54562 0.0478465 9.78485 0.14354C10.0241 0.239234 10.2394 0.382775 10.4308 0.574162L17.7992 7.94258C18.0384 8.18182 18.1541 8.46491 18.1461 8.79187C18.1381 9.11882 18.0145 9.40192 17.7753 9.64115C17.5361 9.88038 17.2569 10 16.938 10C16.619 10 16.3399 9.88038 16.1006 9.64115L9.06715 2.60766Z' fill='%23083027'/%3E%3C/svg%3E%0A");
    top: 35px;
}

.quick .close{
    display: none;
}
.quick .quick_wrap{
    display: none;
}