@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100; /* 내가 맨 위 */
    width: 100%;
    height: 90px;
    color: #fff;
}
.header .wrapper{
    display: flex; /*  logo-gnb-util 좌우 배치 */
    justify-content: space-between;
}
.header .logo{
    margin: 29px 0 0 0;
}
.header .logo a{
    display: block;
    width: 93px;
    height: 31px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* logo처럼 짤리면 안되는 이미지는 contain */
}
.header .gnb .gnb_open,
.header .gnb .gnb_close{
    display: none; /* 모바일에서만 보임 */
}
.header .gnb .gnb_wrap ul{
    display: flex; /* li를 좌우로 배치 */
}
.header .gnb .gnb_wrap ul li a{
    display: block;
    line-height: 90px; /* header의 높이 만큼 */
    padding: 0 30px;
    font-size: 20px;
    font-weight: 800;
}
.header .util{
    display: flex; /* mypage, lang 좌우 배치 하려고 */
}
.header .util .mypage{
    display: block;
    margin: 35px 0 0 0;
    width: 35px;
    height: 35px;
    background: url(../images/mypage_w.svg)  no-repeat center center;
}
.header .util .lang_open{
    display: block;
    margin: 35px 0 0 0;
    width: 35px;
    height: 35px;
    background: url(../images/lang_w.svg)  no-repeat center center;
}
/************* fixed / over 클래스가 추가됐을때 (스타일 동일) ******************/
.header .fixed,
.header.over{
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100; /* 내가 맨 위 */
    width: 100%;
    height: 90px;
    color: #fff;
}

.visual{
    position: relative; /* scroll 정렬의 기준 */
}
.visual .swiper-slide{
    height: 100dvh; /* vh = 브라우저의 높이 주로 dvh를 씀. */
    background: url(../images/visual_bg01.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex; /* wrapper를 아래로 정렬 */
    align-items: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide strong{
    font-size: 28px;
    color: #003CEE;
}
.visual .swiper-slide h2{
    font-size: 100px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 9vh 0; /* 1000px magin 100px일시 10 = 높이 1000px에 아래에서 글자까지 90px 9 */
}
.visual .scroll{
    position: absolute;
    /* left: 50%;
    transform: translate(-50%);
    bottom: 33px;  가운데 일시 */
    right: 0;
    bottom: 80px;
    transform: rotate(90deg);
    z-index: 10;
    font-size: 12px;
    color: #fff;
}
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute; /* scroll 기준으로 정렬 */
    left: 60px;
    top: 0;
    width: 100%;
    height: 14px;
    background: url(../images/scrolldown.svg) no-repeat center center;
    transform: rotate(-90deg);
}
.visual .scroll::after{
    /* left: 65px; */
    opacity: 0;
    animation: scroll1 2s linear 1s infinite ;
}
.visual .scroll::before{
    animation: scroll1 2s linear infinite ;
}

/* 삼천리 스타일 */
@keyframes scroll1 {
        0%{left: 50px; opacity: 1;}
        80%{left: 62px; opacity: 1;} /* 제일 멀리가는 값 */
        100%{left: 65px; opacity: 0;} /* 0%와 같아야 제자리로 돌아옴 */
}

/* 위아래 반복 스타일
@keyframes scroll1 {
    0%{left: 50px; opacity: 1;}
    50%{left: 65px; opacity: 1;} /* 제일 멀리가는 값
    100%{left: 50px; opacity: 0;} /* 0%와 같아야 제자리로 돌아옴
}*/ 

@media screen and (max-width:768px){  
                .visual .swiper-slide strong{
                    font-size: 16px;
                }              
                .visual .swiper-slide h2{
                    font-size: 40px;
                    margin: 0 0 7vh 0; /* 1000px magin 100px일시 10 = 높이 1000px에 아래에서 글자까지 90px 9 */
                }
                .visual .scroll{
                   display: none;
                }
               
               
}


.footer{
    margin: 1000px 0 0 0;
}