@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.product{
    padding: 150px 0 0 0;
    height: 693px;
    background: #1E1E1E;
}
.product .tit{
    text-align: center;
}
.product .tit h2{
    color: #fff;
}
.product .tit p{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}
.product .list{
    margin: 80px 0 0 0;
}
.product .list ul{
    display: flex;
    justify-content: space-between;
}
.product .list ul li{
    width: 404px;
    color: #fff;
    text-align: center;
    background: url(../images/list01.jpg) no-repeat center center / cover;
    height: 300px;
}
.product .list02{
    background-image: url(../images/list02.jpg)
}
.product .list03{
    background-image: url(../images/list03.jpg);
}
.product .list h3 {
    margin: 84px 0 0 0;
}
.product .list p{
    font-size: 32px;
    font-weight: 700;
}
.product .list ul li a{
    display: flex;
    justify-content: space-around;
}
.product .list ul li .view{
    border: 1px solid #fff;
    width: 100px;
    padding: 5px 30px;
}


.brand{
    padding: 126px 0 0 0px;
    background: url(../images/brand.jpg);
    height: 664px;
    color: #fff;
}
.brand h2{
    font-size: 40px;
    font-weight: 700;
}