@import url(fonts.css);
@import url(commons.css);

.header{
    height: 100px; /* 해더는 높이잡기 */
}
.header .wrapper{
    display: flex; /*logo & gnb 좌우배치*/
    justify-content: space-between;
    align-items: center;/*위아래가운데*/
}
.header .gnb ul{
    display: flex; /* li를 좌우로 배치 (flex는 아래 그룹을 배치함)*/
}
.header .gnb ul li a{
    display: block; /* a는 버튼 */
    padding: 0 26px;
    line-height: 100px; /* header의 높이와 동일하게 - 글자의 높이가 100이 되고 위아래 가운데 배치됨 */
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center /cover;
    color: #fff;
    height: 800px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 488px 0 30px 0;
}
.biz{
    margin: 192px 0 0 0;
}
.biz .tit{
    text-align: center; /* 가운데라서 줌 (왼쪽정렬은 안줘도 됨) */    
}
.biz .tit h2{
    font-weight: 700;
    color: #091F5B;
}
.biz .tit p{
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding: 8px 0 0px 0;
}
.biz .list{
    margin: 52px 0 0 0;
}
.biz .list ul{
    display: flex; /*li를 좌우로 배치*/
    justify-content: space-between;
}
.biz .list ul li{
    width: 297px;
}
.biz .list ul li .txt{
    text-align: center;
    margin: 0 40px; /* 위아래여백 - 좌우여백 */
}
.biz .list ul li .txt h3{
    margin: 25px 0 10px 0;
    font-size: 32px;
    color: #1d1d1d;
    line-height: 1.5;
}
.biz .list ul li .txt a{
    display: block;
    border: 1px solid #ccc;
    padding: 9px 0 8px 0;
    margin: 20px 0 0 0; 
}  /* ~26.01.21 수업  */

.brand{
    margin: 106px 0 0 0; /* 상단 빈 여백은 커다란 그룹이 하기. */
    background: url(../images/brand_bg.jpg) no-repeat center center /cover;
    color: #fff;
    text-align: center; /* 텍스트가 가운데라서 주는 값 - 왼쪽 정렬시 없어도 됨 */ 
    height: 700px;
    padding: 218px 0 0 0; /* 백그라운드에 든 텍스트의 여백을 주기 위해 마진은 이미 써서 패딩*/
}
.brand h2{
    font-weight: 700;
    color: #6F96D1;
}
.brand p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 8px 0 22px 0;
}
.brand a{
    display: inline-block; 
    border: 1px solid #ccc; /* 눌리는 상자 */
    padding: 9px 24px 8px 25px  ;
}

.footer{
    background-color: #000;
    color: rgba(255, 255, 255, 0.8); /* rgba red, green, blue, alpha(투명도) */
    padding: 86px 0;  /* footer의 여백은 꼭 padding으로 주기 */
}
.footer .f_nav ul{
    display: flex; /* li를 좌우로 배치하려 필요함*/
    gap: 0 44px; /* felx 일때만 적용 -위아래/좌우의 여백*/
}
.footer .f_info{
    margin: 24px 0;
    display: flex; /* address,span  좌우배치*/
    gap: 0 39px;
}